
!acme
apps/
.ash_history
.audacity-data/
.bash_history
.cache/
.circleci/
.code-server/*
!.code-server/data
.code-server/data/*
!.code-server/data/User
.code-server/data/User/*
!.code-server/data/User/settings.json
!.code-server/extensions
!.config/
.config/*
!.config/albert/albert.conf
!.config/blacklist_adblock
!.config/browser/
!.config/code/
!.config/git/
!.config/i3/
!.config/powerline/
!.config/redshift/
!.config/tmux/
!.config/vim/
!.config/X11/
!.config/user-dirs.dirs
!.config/wgetrc
!.config/monitors.xml
code
.dbus/
.docker/
.esd_auth
history
.gnupg/
gdrive/
google-chrome/
.ICEauthority
items.sqlite3
.kodi
.local/share/*
!.local/share/fonts
lpass
.mozilla/
.npm/
OneDrive/
.openshot_qt/
.pki/
pulse
refresh_token
.ssh/
.ssr/
.sudo_as_admin_successful
.uuid
.viminfo
.vnc/
.wget-hsts
.wine/
Xauthority
.xinputrc
.xorgxrdp.*.log*
.xsession-errors

.flutter*

.android/
oshield
nshield
tab4

Applications/
.bash_sessions/
.cups/
Desktop/
Documents/
Downloads/
.DS_Store
filer
Library/
Movies/
.mume/
Music/
night
Pictures/
Public/
.serverauth*
Standard Notes Backups/
Templates/
Videos/
Virtual Machines.localized/
VirtualBox VMs/
.vscode/
.vscode-server/
.Trash/
.Xauthority
