[submodule ".config/vim/bundle/nerdtree"]
	path = modules/.config/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".config/vim/bundle/vim-fugitive"]
	path = modules/.config/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/vim/bundle/vim-gitgutter"]
	path = modules/.config/vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
