
.bash_history
.cache/
.circleci/
!.config/
.config/*
!.config/code/
!.config/git/
!.config/i3/
!.config/redshift/
!.config/tmux/
!.config/vim/
!.config/X11/
!.config/user-dirs.dirs
!.config/wgetrc
code
.dbus/
.docker/
history
.gnupg/
gdrive/
google-chrome/
.ICEauthority
items.sqlite3
.kodi
.local/share/
lpass
.mozilla/
OneDrive/
.pki/
pulse
refresh_token
.ssh/
.sudo_as_admin_successful
.uuid
.viminfo
Xauthority


Applications/
.cups/
Desktop/
Documents/
Downloads/
.DS_Store
filer
Library/
Movies/
.mume/
Music/
Pictures/
Public/
.serverauth*
Virtual Machines.localized/
VirtualBox VMs/
.vscode/
.Trash/
.Xauthority
