
.audacity-data/
.bash_history
.cache/
.circleci/
!.config/
.config/*
!.config/albert/albert.conf
!.config/code/
!.config/git/
!.config/i3/
!.config/powerline/
!.config/redshift/
!.config/tmux/
!.config/vim/
!.config/X11/
!.config/user-dirs.dirs
!.config/wgetrc
code
.dbus/
.docker/
.esd_auth
history
.gnupg/
gdrive/
google-chrome/
.ICEauthority
items.sqlite3
.kodi
.local/share/
lpass
.mozilla/
OneDrive/
.openshot_qt/
.pki/
pulse
refresh_token
.ssh/
.ssr/
.sudo_as_admin_successful
.uuid
.viminfo
Xauthority
.xinputrc
.xorgxrdp.*.log*
.xsession-errors

Applications/
.bash_sessions/
.cups/
Desktop/
Documents/
Downloads/
.DS_Store
filer
Library/
Movies/
.mume/
Music/
Pictures/
Public/
.serverauth*
Templates/
Videos/
Virtual Machines.localized/
VirtualBox VMs/
.vscode/
.Trash/
.Xauthority
